/* CSS Document */
.center_content{
	width: 585px;
	float: left;
	padding: 5px 10px;	
}

.center_title_bar{
	width: 575px;
	height: 33px;
	float: left;
	background: #F3EBEB;
	line-height: 33px;
	font-weight: bold;
	color:darkred;
}

.pord_box{
	width: 173px;
	height: auto;
	float: left;
	padding: 10px 10px 10px 11px;
}

.top_prod_box{
	width: 173px;
	height: 12px;
	float: left;
	background: #BBA0A1
}

.bottom_prod_box{
	width: 173px;
	height: 12px;
	float: left;
	background: #BBA0A1
}

.center_prod_box{
	width: 173px;
	height: auto;
	float: left;
	text-align: center;
	background: #FEDEDE;
}