/* CSS Document */
.left_content
{
	width: 196px;
	float: left;
}

.title_box
{
	width: 196px;
	background-color:lavender;
	margin: 0 0 0 0;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
	line-height: 30px;
}

ul.left_menu{
	width: 196px;
	float: left;
	list-style: none;
	padding: 0 0 0 0;
}

ul.left_menu li{
	list-style: none;
	float: left;
}

ul.left_menu li.odd a{
	width: 166px;
	height: 25px;
	display: block;
	background-color: azure;
	color: #504B4B;
	line-height: 25px;
	background-position: 5px 5px;
	padding: 0 0 0 30px;
}

ul.left_menu li.even a{
	width: 166px;
	height: 25px;
	display: block;
	background-color:antiquewhite;
	color: #504B4B;
	line-height: 25px;
	background-position: 5px 5px;
	padding: 0 0 0 30px;
}

ul.left_menu li.even a:hover , ul.left_menu li.odd a:hover{
	background: #B08788 no-repeat left #7bbcc7;
	color: red;
	
}

.border_box{
	width: 196px;
	margin: 0 0 0 0;
	text-align: center;
	boder: 1px solid #6da6b1;
}

.product_title{
	color: aliceblue;
	padding: 5px 0;
	font-weight: bold;
}

.product_title a{
	color: brown;
	text-decoration: none;
}

.product_title a:hover{
	color: chartreuse;
}



