/* CSS Document */
#menu_tab{
	width: 1000px;
	height: 50px;
}

.left_menu_corner{
	width: 9px;
	height: 50px;
	float: left;
	background: #14E3E7 no-repeat center;
}

.right_menu_corner{
	width: 9px;
	height: 50px;
	float: left;
	background: #14E3E7 no-repeat center;
}

ul.menu{
	width: 982px;
	float: left;
	background: #00FFC3;
	display: block;
	list-style-type: none;
}

ul.menu li{
	display: inline;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
}

ul.menu li.divider{
	display: inline;
	width: 2px;
	height: 50px;
	float: left;
	background: #00FD34 center;
	
}

ul.menu li a, ul.menu li a:visited{
	display: block;
	float: left;
	padding: 0 8px 0 22px;
	margin: 0 14px;
	height: 50px;
	text-decoration: none;
}
















