/* CSS Document */
.right_content{
	width: 196px;
	float: left;
	padding: 5 0 0 0 ;
	text-align: center;

}
.product_title3{
	color: aliceblue;
	padding: 5px 0;
	font-weight: bold;
}

.product_title3 a{
	color: brown;
	text-decoration: none;
}

.product_title3 a:hover{
	float: left;
	color: chartreuse;
}



